<html>
   <body>
      <h1>Readwise Article of the Day: <a href="<%= readwiseArticleUrl %>"><%= readwiseArticleTitle %></a></h1>
      <p>Similar Readwise Article</p>
      <ul>
         <% relatedArticles.forEach(function(relatedArticle) { %>
            <li><a href="<%= relatedArticle.url %>"><%= relatedArticle.title %></a></li>
         <% }); %>
      </ul>
   </body>
</html>