<html>
   <body>
      <h1>Readwise Article of the Day: <a href="<%= readwiseArticleUrl %>"><%= readwiseArticleTitle %></a></h1>
      <p>Similar Readwise Article</p>
      <ul>
         <% similarReadwiseArticles.forEach(function(similarReadwiseArticle) { %>
            <li><a href="<%= similarReadwiseArticle %>"><%= similarReadwiseArticle %></a></li>
         <% }); %>
      </ul>
   </body>
</html>