<html>
   <body>
      <h1>Article of the Day: <a href="<%= article %>"><%= article %></a></h1>
      <p>Similar Articles</p>
      <ul>
        <% similarArticles.forEach(function(similarArticle) { %>
            <li><a href="<%= similarArticle %>"><%= similarArticle %></a></li>
        <% }); %>
      </ul>
   </body>
</html>